{% extends 'portfolio/base.html' %}
{% load humanize %}
{% block content %}
<div class="table-header">
    <h2 id="asset-caption">All Assets</h2>
    <p class="updated">Last Updated: </p>
</div>


<table id="asset-table">
    <tr id="heading-row">
        <th>Rank</th>
        <th>Coin</th>
        <th>Price</th>
        <th>Circulating Supply</th>
        <th>Market Cap</th>
    </tr>
    {% for coin in coins %}
        <tr>
            <td>{{ coin.cmc_rank }}</td>
            <td>{{ coin.name }}</td>
            <td>${{ coin.quote.USD.price|intcomma }}</td>
            <td>{{coin.circulating_supply|intcomma}}</td>
            <td>${{coin.quote.USD.market_cap|intcomma}}</td>
        </tr>
    {% endfor %}
    
</table>
   
{% endblock %}