{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Tracker</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- NAVBAR -->
    <div class="nav-section">
        <div class="main-container">
            <div class="nav-flex">
                <h1><a href="{% url 'portfolio-home' %}" class='logo'>Crypto Tracker</a></h1>
                <div class="navbar">
                    <ul>
                        <li><h4><a href="#">Login</a></h4></li>
                        <li><h4><a href="#">Register</a></h4></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    
    <!-- <div class="sidebar">
        <ul>
            <li><a href="#">Home</a><i class="fa-solid fa-house"></i></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div> -->
    <div class="body-section">
        {% block content %}{% endblock content %}
    </div>
    
    <!-- FOOTER -->
    <div class="footer"></div>
    
</body>
</html>