{% extends 'portfolio/base.html' %}
{% block content %}
<div class="main-price-container">
    <h1 class="main-price">$PRICE</h1>
</div>
<div class="portfolio-header">
    <h2>Kai is Homosexual</h2>
    <button>Add</button>
</div>
<div class="asset-list">
    <table id="asset-table">
        <tr id="heading-row">
            <th>Asset</th>
            <th>Balance</th>
            <th>Allocation</th>
        </tr>
        <tr>
            <td>Kai</td>
            <td>Likes</td>
            <td>Boys</td>
        </tr>
        <tr>
            <td>Kai</td>
            <td>Likes</td>
            <td>Men</td>
        </tr>
        <tr>
            <td>Kai</td>
            <td>Likes</td>
            <td>fucking</td>
        </tr>
        <tr>
            <td>Kai</td>
            <td>Likes</td>
            <td>Boys</td>
        </tr>
        <tr>
            <td>Kai</td>
            <td>Likes</td>
            <td>Boys</td>
        </tr>
        <tr>
            <td>Kai</td>
            <td>Likes</td>
            <td>Boys</td>
        </tr>
        <tr>
            <td>Kai</td>
            <td>Likes</td>
            <td>Boys</td>
        </tr>
        <tr>
            <td>Kai</td>
            <td>Likes</td>
            <td>Boys</td>
        </tr>
        
    </table>
</div>
{% endblock %}