:root {
  --mainText: black;
  --secondaryText: #b6b6b6;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: white;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  line-height: 1.6;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
a {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--mainText);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.main-container {
  width: 85%;
  margin: 0 auto;
}

/* NAV */
.nav-section {
  background-color: var(--mainText);
  width: 100%;
  overflow: auto;
  padding: 10px;
}

.nav-section a {
  color: white;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-flex ul {
  display: flex;
  flex-direction: row;
}

.nav-flex li {
  margin-left: 20px;
  margin-right: 5px;
}
.navbar a:hover {
  border-bottom: 2px solid;
}

.body-section {
  padding: 2rem;
  height: 100vh;
  width: 75%;
  margin: 0 auto;
}

.main-price-container{
  margin: 5px auto;
  padding: 0.5rem;
  border: 2px solid black;
  text-align: center;
}

/* TABLE */
.asset-list{
  margin: 10px auto;
  padding: 0.5rem;
}

#asset-table{
  width: 100%;
  margin: 0 auto;
  column-gap: 40px;
  border-collapse: collapse;
}

#heading-row{
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}

#asset-table th{
  text-align:left;
  
  padding: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

#asset-table td{
  text-align: left;
  padding: 0.5rem;
}

#asset-caption{
  text-align: left;
  margin-bottom: 5px;
}

.table-header .portfolio-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
