:root{
    --mainText: black;
    --secondaryText: #b3b3b3;
}

html{
    height: 120%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Arvo', serif;
    background: linear-gradient(to bottom, green, blue);
    overflow: auto;
}

h1, h2, h3, a{
    padding: 0;
    margin: 0;
}

a{
    text-decoration:none;
    color: var(--mainText);
}

ul{
  list-style-type: none;  
  padding-left: 0;
}

.main-container{
    width: 85%;
    margin: 0 auto;
}

/* NAV */
.nav-section{
    background-color: var(--mainText);
    width: 100%;
    overflow: auto;
}

.nav-section a{
    color:white;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex ul{
    display: flex;
    flex-direction: row;
}

.nav-flex li{
    margin-left: 10px;
}
.navbar a:hover{
    border-bottom: 2px solid;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
}